In [15]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv('data.csv')

In [17]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [18]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

### Question 1: Version of NumPy *

In [19]:
print('np.__version__ =', np.__version__)

np.__version__ = 1.20.3

### Question 2: Version of Pandas *

In [20]:
print('pd.__version__ =', pd.__version__)

pd.__version__ = 1.3.2

### Question 3: The average price of BMW *

In [21]:
round(df[df['Make'] == 'BMW']['MSRP'].mean(), 2)

61546.76

### Question 4: Number of missing values in "Engine HP" after 2015 (including 2015) *

In [22]:
sum(df[df['Year'] >= 2015]['Engine HP'].isna())

51

### Question 5: Does the mean change after filling missing values? *

In [23]:
# Calculate the average "Engine HP" in the dataset.
mean_hp_before = df['Engine HP'].mean()
df['Engine HP'] = df['Engine HP'].fillna(mean_hp_before)
mean_hp_after = df['Engine HP'].mean()

print(round(mean_hp_before, 2))
print(round(mean_hp_after, 2))

249.39
249.39

Answer: NO!

### Question 6: Sum of elements of the inverse matrix *

In [24]:
rr_cars = df[df.Make == 'Rolls-Royce']
rr_cars = rr_cars[["Engine HP", "Engine Cylinders", "highway MPG"]]
rr_cars = rr_cars.drop_duplicates()
X = rr_cars.values

XTX = X.T.dot(X)

inv_XTX = np.linalg.inv(XTX)

round(inv_XTX.sum(), 4)

0.0322

### Questions 7: Normal equation *

In [25]:
y = [1000, 1100, 900, 1200, 1000, 850, 1300]
w =  inv_XTX.dot(X.T).dot(y)
w[0]

0.19989598183186175